name: CI

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: rustfmt
      - run: cargo fmt -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - name: Install OpenCC
        run: |
          sudo apt update
          sudo apt install doxygen cmake wget
          wget https://github.com/BYVoid/OpenCC/archive/refs/tags/ver.1.1.3.tar.gz
          tar xf ver.1.1.3.tar.gz
          cd OpenCC-*
          make -j$(nproc) PREFIX=/usr
          sudo make PREFIX=/usr install
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: clippy
      - run: cargo clippy --all-targets --all-features -- -D warnings

  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        toolchain:
          - stable
          - nightly
    name: Test ${{ matrix.toolchain }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install OpenCC
        run: |
          sudo apt update
          sudo apt install doxygen cmake wget
          wget https://github.com/BYVoid/OpenCC/archive/refs/tags/ver.1.1.3.tar.gz
          tar xf ver.1.1.3.tar.gz
          cd OpenCC-*
          make -j$(nproc) PREFIX=/usr
          sudo make PREFIX=/usr install
      - run: sudo ldconfig
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
      - run: cargo build
      - run: cargo test
      - run: cargo doc
      - run: cargo build --features static-dictionaries
      - run: cargo test --features static-dictionaries
      - run: cargo doc --features static-dictionaries